# Local Environment files
.env
.env.local
.env.prod
.env.development

# Dependency folders
node_modules/
backend/node_modules/
frontend/node_modules/

# Compiled outputs
frontend/dist/
backend/dist/

# Local backup / state dirs
backups/
ssl/
mongo_data/

# OS-specific files
.DS_Store
Thumbs.db
